<div id="todo-form" class="col-sm-3 col-md-3">
        <div id="todo-title">
            <h3>New ToDo</h3>
        </div>
        <form role="form">
            <div class="form-group">
                <label for="title">To do title</label>
                <input required  ng-model="titleText" type="text" class="form-control" id="title" placeholder="Title" name="title">
            </div>
            <div class="form-group">
                <label for="description">To do description</label>
                <input required  ng-model="descriptionText" type="text" class="form-control" id="description" placeholder="Description" name="description">
            </div>
            <div class="form-group">
                <label for="inputstudent">Status?</label>
                <div class="inputstatus">
                    <select required  ng-model="selectText" id="status" class="form-control" name="status">
                        <option value="" disabled selected>Select</option>
                        <option value="planned">planned</option>
                        <option value="doing">doing</option>
                        <option value="done">done</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="duration">Estimated time</label>
                <input required  ng-model="duration" type="text" class="form-control" id="duration" placeholder="Time needed in hours" name="duration">
            </div>
            <div class="form-group signupbtn">
                <button ng-click="store()" type='submit' id="todo-btn" class="btn btn-md">Save</button>
            </div>
        </form>  
    </div><!-- /todoform -->