/*
|--------------------------------------------------------------------------
| CSS for JurgDo-App
|--------------------------------------------------------------------------
|
| This is a webapplication built by Jurgen Barbier.
| More information about this developer can be found at www.jurgb.be
| Or on his Twitter account @jurg_b
|
*/

body{
    padding-top: 70px;
} /*to compensate the fixed navbar*/

.navbar{
    background: rgba(200,200,200,0.7);   
}
.nav-logo{
    width: 40px;
    margin-top: -10px;
}
.nav-components{
    margin-top: 10px;   
}
.nav-search
{
    width: 300px;
}
.todo-title,
.todo-progress
{
    padding-top: 7px;
    margin-bottom: -10px;
}